.roomDiv{
    margin-bottom: 3%;
    display: block;
    justify-content: center;
    height: 800px;
}

.wingBar {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 1%;
}
  
  .roomLeftData {
    text-align: center;
  }

  .roomRightData {
    text-align: center;
  }

  .roomSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 7%;
  }

  .articleHab {
    width:100%;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    margin-top: 2%;
    border-style:double;
  }

  .roomButtons {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-bottom: 2%; 
     
  }

  .roomButtonsList {
    margin-right:5%;
  }

  .wingButton {
    position: relative;
  background: #000000;
  box-shadow: #55ab0e 0 -10px 5px inset;
  color: #d9c78d;
  text-decoration: none;
  text-transform: uppercase;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 50%;
  border-radius: 50%;
  letter-spacing: 0.1rem;
  padding: 1rem 3rem;
  transition: 0.4s;
}

.wingButton:hover {
  transform: scale(1.2);
  color: rgb(0, 162, 255);
  animation: box 3s infinite;
}
  
.roomResults{
  max-width: 54%;
  min-height: 450px;
  box-shadow: #312d31 0 0 10px inset;
  border-radius: 1em; 
  margin-left: 25%;
  padding-top: 3%;
}
