.wingBar {
    list-style: none;
    display: flex;
    gap: 20px;
}

  
  .roomLeftData {
    text-align: center;
  }

  .roomRightData {
    text-align: center;
  }

  .roomSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 100vh;
    overflow-x: auto;
    justify-content: center;
  }

  .articleHab {
    width:100%;
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
  }

  .room-buttons {
    list-style: none;
    display: flex;
    gap: 20px;
}
